.modal{
    background-color: white;
    display:flex;
    flex-direction: column;
    width:300px;
    padding:30px;
    gap:10px;
    border-radius: 20px;
}

.overlay{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    align-items: center;
    justify-content: center;

}